APP_NAME=AI Resume Analyzer
APP_VERSION=1.0.0

DATABASE_URL=sqlite:///resume_analyzer.db
BACKEND_URL=http://127.0.0.1:8000

OLLAMA_MODEL=qwen2.5:7b
OLLAMA_URL=http://localhost:11434/api/generate

JWT_SECRET_KEY=your-super-secret-key-change-this
JWT_ALGORITHM=YOUR_FAVORITE_ALGORITHM
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=EXPIRATION_TIME